.intro {
  @include flex-setting(column, flex-start, center);

  width: 100%;

  padding: 10px 10px 0px 10px;

  &__title {
    display: inline-flex;
    width: 100%;

    @include font-setting($primary-font-italic, 0.875em, 1.2, 900, #ec008c);

    text-transform: uppercase;
    text-align: center;

    margin: 0;
    margin-bottom: 0.5em;
  }

  &__description {
    display: inline-flex;
    width: 100%;

    @include font-setting($secondary-font, 0.75em, 1.2, 400, #7d3192);

    text-transform: uppercase;
    text-align: center;

    margin: 0;
  }
}

@media only screen and (min-width: $mobile) {
  .intro {
    padding: 10px 5px 5px 5px;
  }
}

@media only screen and (min-width: $hdm) {
  .intro {
    padding: 10px 20px 10px 20px;

    &__title {
      font-size: 1.125em;
    }

    &__description {
      font-size: 0.875em;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .intro {
    padding: 5px 108px 24px 108px;

    &__title {
      font-size: 1.688em;

      line-height: 1.5;

      max-width: 550px;
    }

    &__description {
      line-height: 1.5;
      max-width: 440px;
    }
  }
}
