.main-form {
  @include flex-setting(column, flex-start, center);
  width: 100%;

  border: 6px solid #7d3192;
  border-radius: 18px;
  box-shadow: 0 2px 5px rgba(125, 49, 146, 0.3);
  background-color: #ffffff;

  padding: 10px 10px;

  &__submit {
    @include flex-setting(column, center, center);
    @include font-setting($primary-font, 0.875em, 1.2, 900, #ffffff);

    text-transform: uppercase;
    letter-spacing: 0.59px;

    width: 130px;
    height: 30px;

    border: none;
    background-color: #fc38a2;
    box-shadow: inset 0 2px 4px #ff68ba, inset 0 -2px 4px #d32b85;
    border-radius: 10px;

    transform: skewX(-15deg);

    cursor: pointer;
    outline: none;

    &:hover,
    &:active {
      box-shadow: inset 0 2px 1px #ff68ba, inset 0 -2px 1px #d32b85;
      transition: 0.2s ease-in;
    }
  }
}

@media only screen and (min-width: $mobile) {
  .main-form {
    border: 8px solid #7d3192;
    border-radius: 28px;

    padding: 15px 15px;

    &__submit {
      font-size: 1em;

      width: 189px;
      height: 41px;
    }
  }
}

@media only screen and (min-width: $hdm) {
  .main-form {
    padding: 28px 24px;
  }
}

@media only screen and (min-width: $tablet) {
  .main-form {
    position: relative;
  }
}
