.main {
  @include flex-setting(column, flex-start, center);
  padding: 0;
  margin: 0 auto;

  max-width: 300px;
}

@media only screen and (min-width: $mobile) {
  .main {
    max-width: 330px;
  }
}

@media only screen and (min-width: $hdm) {
  .main {
    max-width: 352px;
  }
}

@media only screen and (min-width: $laptop) {
  .main {

    max-width: 300px;
  }
}

@media only screen and (min-width: $widebook-hd) {
  .main {
    max-width: 352px;
  }
}
