.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 100%;

  background-color: #ffffff;

  position: absolute;
  top: -3000px;

  transition: 0.2s ease-in;

  &--active {
    top: 0;
    left: 0;
    transition: 0.4s ease-in-out;
    z-index: 10;
  }

  &__item {
    width: 100%;

    @include flex-setting(column, center, center);

    padding-top: 5px;
    padding-bottom: 5px;

    border-top: 1px solid #ec008c;
  }

  &__link {
    @include font-setting($primary-font-italic, 1.5em, 1.2, 900, #ffffff);
    text-shadow: 0 1px 0 #ec008c, 0 -1px 0 #ec008c, 1px 0 0 #ec008c, -1px 0 0 #ec008c;
    letter-spacing: 0.97px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: $mobile) {
  .nav-list {
    top: -2000px;

    &--active {
      top: 0;
    }

    &__item {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
}

@media only screen and (min-width: $hdm) {
  .nav-list {
    &__item {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .nav-list {
    &__item {
      padding-top: 9px;
      padding-bottom: 13px;
    }

    &__link {
      font-size: 2.5em;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .nav-list {
    position: relative;
    top: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: auto;

    background-color: transparent;

    &__item {
      background-color: transparent;
      border: none;
      width: auto;
      padding-top: 9px;
      padding-bottom: 13px;
      margin-left: 20px;

      position: relative;

      &::after {
        position: absolute;
        content: '';

        width: 5px;
        height: 5px;

        top: 45%;
        left: -12px;
        transform: translateY(-50%);

        border-radius: 50%;
        background-color: #ec008c;
      }

      &:first-of-type {
        margin-left: 0;

        &::after {
          display: none;
        }
      }

      &:hover,
      &:active,
      &:focus {
        .nav-list__link {
          position: relative;

          &::after {
            position: absolute;
            content: '';

            width: 100%;
            height: 2px;

            background-color: #ec008c;

            left: 0;
            bottom: -5px;
          }
        }
      }
    }

    &__link {
      font-size: 1.063em;
    }
  }
}

@media only screen and (min-width: $widebook-hd) {
  .nav-list {
    &__item {
      padding-top: 0px;
      padding-bottom: 8px;

      &::after {
        left: -13px;
        top: 40%;
      }

      &:first-of-type {
        margin-left: 0;

        &::after {
          display: none;
        }
      }
    }

    &__link {
      font-size: 1.313em;
    }
  }
}
