.nav-menu {
  @include flex-setting(column, flex-start, center);
  position: absolute;
  top: -1000px;
  left: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  z-index: 10;

  &--active {
    top: 95px;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);

    z-index: 10;
  }
}

@media only screen and (min-width: $mobile) {
  .nav-menu {
    &--active {
      top: 110px;
    }
  }
}

@media only screen and (min-width: $hdm) {
  .nav-menu {
    &--active {
      top: 135px;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .nav-menu {
    &--active {
      top: 170px;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .nav-menu {
    @include flex-setting(column, flex-start, center);
    position: relative;
    top: auto;
    left: auto;

    width: auto;
    height: 25px;
    background-color: transparent;

    margin-top: 15px;
  }
}

@media only screen and (min-width: $widebook-hd) {
  .nav-menu {
    height: 26px;
    margin-top: 15px;
  }
}
