.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  min-height: 100vh;


  position: relative;

  &::after {
    position: absolute;
    content: '';

    width: 100%;
    height: 105px;

    opacity: 0.3;

    bottom: 65px;
    left: 0;

    background-image: url('../img/footer-shape.svg');
    background-repeat: repeat-x;
    background-position: center top;
    background-size: auto;

    z-index: -1;
  }
}

@media only screen and (min-width: $mobile) {
  .wrapper {
    &::before {
      position: absolute;
      content: '';

      width: 173px;
      height: 174px;

      background-image: url('../img/rescue-ring.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;

      bottom: 80px;
      left: -50px;

      z-index: 0;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .wrapper {
    overflow: hidden;
    &::after {
      height: 125px;
    }

    &::before {
      position: absolute;
      content: '';

      width: 376px;
      height: 378px;

      bottom: -20px;
      left: -160px;

      z-index: 0;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .wrapper {
    overflow: hidden;
    &::after {
      height: 125px;
    }

    &::before {
      bottom: -20px;
      left: -40px;

      z-index: 0;
    }
  }
}

@media only screen and (min-width: 1366px) {
  .wrapper {
    overflow: hidden;
    &::after {
      background-size: cover;
      background-position: center top;
      height: 150px;
      bottom: 45px;
    }

    &::before {
      bottom: 10px;
      left: 20px;

      z-index: 0;
    }
  }
}

@media only screen and (min-width: $hd) {
  .wrapper {
    overflow: hidden;
    &::after {
      background-size: cover;
      background-position: center top;
      height: 150px;
      bottom: 45px;
    }

    &::before {
      bottom: 10px;
      left: 200px;

      z-index: 0;
    }
  }
}
